{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Управление категориями</h1>
            <a role="button" class="btn btn-secondary mb-3" href="{% url 'create_todo' %}">Вернуться к созданию задачи</a>
            <form method="POST" action="{% url 'create_category' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="name" class="form-control" placeholder="Название категории" required>
                    <button class="btn btn-success" type="submit">Добавить</button>
                </div>
            </form>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ category.name }}
                        <span>
                            <a href="{% url 'edit_category' category.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
                            <a href="{% url 'delete_category' category.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
