{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-2">
        <div class="col-md-10">
            <div class="row row-cols-auto gx-3">
                <div class="col offset-1">
                    <div class="p-4"><h1>Выполненные мероприятия</h1></div>
                </div>
                <div class="col">
                    <div class="p-4">
                        <form method="POST" action="{% url 'delete_all_completed_events' %}" onsubmit="return confirm('Вы уверены, что хотите удалить все выполненные мероприятия?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-lg">Удалить все выполненные мероприятия</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="p-4">
                        <a role="button" class="btn btn-info btn-lg" href="{% url 'events_list' %}">К списку мероприятий</a>
                    </div>
                </div>
            </div>
            <div class="list-group">
                {% for events in events %}
                    <a href="{% url 'view_events' events.id %}" class="list-group-item list-group-item-action{% if events.important %} list-group-item-danger{% endif %} mb-2">
                        <b>{{ events.title }}</b> - {{ events.event_date|date:'M j Y H:i' }}{% if events.memo %} - {{ events.memo|truncatechars:30 }}{% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
